.Review {
    background-color: #F5F5F5; 
    height: 100vh;
}

.FirstBlock {
    color: black;
    padding: 5vh 4vw 5vh 3vw;
    width: 47vw;
}

.FirstBlock hr {
    height: 6px;
    width: 20%;
    border-top: 6px solid #8A16C1;
    opacity: 100;
}